
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    background-color:#FFFF;
    
}
#main{
    display:flex;
    flex-flow:row;
    line-height: 24px;
  
}
nav{
    border-right: 2px solid gray;
    height: 100vh;
    overflow-x: scroll;
    flex-basis: 25%;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px 10px 0px;
    text-indent: 10px;
}

#main-doc{
    display: flex;
    flex-flow: column;
    overflow-x: scroll;
    height: 100vh;
    flex-basis: 75%;
    padding: 20px 20px 0px 20px;
    font-family: Arial, sans-serif;
}
ul {
    margin-left: 0; padding-left: 50px;
    color: rgb(106, 106, 106);
}
#main-doc header{
    font-family: 'Lato', sans-serif;
   font-weight:bold;
   font-size: 2rem;
   padding-bottom: 20px;
   padding-top: 20px;
}

nav header{
    font-weight:bold;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
 
}
nav section{
    border-bottom: 1px solid grey;
    line-height: 3rem;
    
}
 code {
    background-color: #eee;
    display: block;
    padding: 10px;
    margin: 0 60px 20px 40px;
    color: rgb(62, 62, 62);

  }

p{
      padding: 0px 20px 20px 20px;
      color: rgb(116, 116, 116);
     
  }

  li{
      
      padding-right: 20px;
  }

 #nav-sections{
    color: rgb(106, 106, 106);
 }
 
  a {
    color: rgb(106, 106, 106);
    text-decoration: none;
}