
body{
    font-family:Helvetica;
    color:rgb(77, 77, 77); /*Making the font dark grey*/
}
h1{
    font-size: 2.5em; 
}
#main{
    line-height: 1.6; /*Spacing between lines*/
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(240, 240, 240);
}

#NB-image{
 
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#section-1{ 
    
    margin: 10px;
    margin-bottom: 50px;
    background-color: white;
}
figure{
    margin: 10px;
}
figcaption{
    margin: 15px 0 5px 0;
}

ul, blockquote{
    margin: 20px 320px 20px 320px;
    text-align: left;
}
@media screen and (max-width: 1100px){ /*using a Media Query here so above left & right margins of 320px do not apply to smaller screens */
ul, blockquote{
    margin: 20px 30px 20px 30px;
    text-align: left;
}
}
blockquote{
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 80px;
}
li{
    padding-block: 10px;
   
}


